 <!--================================
        START FOOTER AREA
    =================================-->
    <footer class="footer-area">
      <div class="footer-big section--padding">
          <!-- start .container -->
          <div class="container">
              <div class="row">
                  <div class="col-12 text-center">
                      <div class="info-footer">
                          <div class="info__logo">
                              <a href="/"><img src="../../../assets/images/flogo.png" alt="footer logo" style="width: 70px;"></a>
                          </div>

                          <!-- start .social -->
                          <div class="social social--color--filled">
                              <ul>
                                  <li>
                                      <a href="#">
                                          <span class="fa fa-facebook"></span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <span class="fa fa-linkedin"></span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <span class="fa fa-youtube"></span>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                          <!-- end /.social -->
                      </div>
                      <!-- end /.newsletter -->
                  </div>
                  <!-- end /.col-md-4 -->
              </div>
              <!-- end /.row -->
          </div>
          <!-- end /.container -->
      </div>
      <!-- end /.footer-big -->

      <div class="mini-footer">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="copyright-text">
                          <p>&copy; 2019
                              <strong>Vendr Consumidor</strong>. Todos os direitos reservados.
                          </p>
                      </div>

                      <div class="go_top">
                          <span class="lnr lnr-chevron-up"></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!--================================
      END FOOTER AREA
  =================================-->
