<!--================================
      START BREADCRUMB AREA
  =================================-->
  <section class="breadcrumb-area pt-4 pb-4 pt-md-5 pb-md-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a routerLink='/dashboard'>Home</a>
                        </li>
                        <li>
                            <a *ngIf='_vendedor' class="d-block d-sm-none" href="javascript:void(0)">{{_vendedor.nome}}</a>
                        </li>
                    </ul>
                </div>
                <h1 *ngIf='_vendedor' class="d-none d-sm-block page-title pt-md-2 pt-lg-3">{{_vendedor.nome}}</h1>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->


<!--================================
    START AUTHOR AREA
=================================-->
<section class="author-profile-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <aside class="sidebar sidebar_author">
                    <div class="author-card sidebar-card mb-4 mb-lg-0">
                        <div class="author-infos">
                            <div class="author_avatar">
                                <img *ngIf="_vendedor" [src]="vendedorAvatar" alt="{{_vendedor.nome}}">
                            </div>

                            <div class="author" *ngIf="_vendedor">
                                <h4>{{_vendedor.nome}}</h4>
                                <p>Desde: 11/03/2019</p>
                                <p>570 itens</p>
                                <hr>
                                <p>CPF/CNPJ</p>
                                <p><a href="mailto:{{_vendedor.email}}">{{_vendedor.email}}</a></p>
                                <p>CEP</p>
                                <p>Endereço, número</p>
                                <p>Cidade/Estado</p>
                                <br>
                            </div>
                            <!-- end /.author -->

                            <!--<div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-linkedin"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>-->
                            <!-- end /.social -->

                            <div class="author-btn">
                                <a href="https://api.whatsapp.com/send?phone=5511999999999&text=Dúvida sobre produto" class="btn btn--md btn--round"><span class="fa fa-whatsapp mr-2"></span> WhatsApp</a>
                            </div>
                            <!-- end /.author-btn -->
                        </div>
                        <!-- end /.author-infos -->


                    </div>
                    <!-- end /.author-card -->

                    <!--<div class="sidebar-card message-card">
                        <div class="card-title">
                            <h4>Contato</h4>
                        </div>

                        <div class="message-form">
                            <form action="#">
                                <div class="form-group">
                                    <textarea lass="text_field" placeholder="Mensagem..."></textarea>
                                </div>

                                <div class="msg_submit">
                                    <button type="submit" class="btn btn--md btn--round">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>-->
                    <!-- end /.freelance-status -->
                </aside>
            </div>
            <!-- end /.sidebar -->

            <div class="col-lg-8 col-md-12">
                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <div class="author_module about_author" *ngIf="_vendedor">
                            <h2>Sobre
                                <span>{{_vendedor.nome}}</span>
                            </h2>
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattisleo
                                quam aliquet congue. Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo
                                ut scelerisque the mattisleo quam aliquet congue. Nunc placerat mi id nisi interdum mollis.
                                Prae sent pharetra, justo ut scelerisque the mattisleo quam aliquet congue.</p>
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattisleo
                                quam aliquet congue. Nunc placerat mi id nisi interdum mollis. Praesent pharetra.</p>
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattisleo
                                quam aliquet congue. Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo
                                ut scelerisque the mattisleo quam aliquet congue. Nunc placerat mi id nisi interdum mollis.
                                Prae sent pharetra, justo ut scelerisque the mattisleo quam aliquet congue.</p>
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattisleo
                                quam aliquet congue. Nunc placerat mi id nisi interdum mollis. Praesent pharetra.</p>
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattisleo
                                quam aliquet congue. Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo
                                ut scelerisque the mattisleo quam aliquet congue. Nunc placerat mi id nisi mollis.</p>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.col-md-8 -->

        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
    END AUTHOR AREA
=================================-->

