<!--================================
      START BREADCRUMB AREA
  =================================-->
  <section class="breadcrumb-area pt-4 pb-4 pt-md-5 pb-md-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a routerLink='/dashboard'>Home</a>
                        </li>
                        <li>
                            <a *ngIf='_vendedor' class="d-block d-sm-none" href="javascript:void(0)">Vendedor {{_vendedor.nome}}</a>
                        </li>
                    </ul>
                </div>
                <h1 *ngIf='_vendedor' class="d-none d-sm-block page-title pt-md-2 pt-lg-3">{{_vendedor.nome}}</h1>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->


<!--================================
    START AUTHOR AREA
=================================-->
<section class="author-profile-area" *ngIf='_vendedor'>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <aside class="sidebar sidebar_author">
                    <div class="author-card sidebar-card mb-4 mb-lg-0">
                        <div class="author-infos">
                            <div class="author_avatar">
                                <img *ngIf="_vendedor" [src]="vendedorAvatar" alt="{{_vendedor.nome}}">
                            </div>

                            <div class="author" *ngIf="_vendedor">
                                <h4>{{_vendedor.nome}}</h4>
                                <p>Desde: {{_vendedor.data_registro | date:'dd/MM/yyyy' }}</p>
                                <p *ngIf='_vendedor.total_produtos>1'>{{_vendedor.total_produtos}} itens</p>
                                <p *ngIf='_vendedor.total_produtos==1'>1 item</p>
                                <p *ngIf='_vendedor.total_produtos==0'>Nenhum itens</p>
                                <hr>
                                <p>CPF/CNPJ<br>
                                {{_vendedor.cpf_cnpj}}
                                </p>
                                <p><a href="mailto:{{_vendedor.email}}">{{_vendedor.email}}</a></p>
                                <p>CEP<br>
                                {{_vendedor.cep}}
                                </p>
                                <p>{{_vendedor.endereco}},{{_vendedor.endereco_numero}}<br>
                                {{_vendedor.bairro}}, {{_vendedor.cidade}} - {{_vendedor.estado}}
                                </p>
                                <br>
                            </div>
                            <!-- end /.author -->

                            <!--<div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-linkedin"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>-->
                            <!-- end /.social -->

                            <div class="author-btn">
                                <a href="https://api.whatsapp.com/send?phone={{_vendedor.fone}}&text=Dúvida sobre produto" class="btn btn--md btn--round"><span class="fa fa-whatsapp mr-2"></span> WhatsApp</a>
                            </div>
                            <!-- end /.author-btn -->
                        </div>
                        <!-- end /.author-infos -->


                    </div>
                    <!-- end /.author-card -->

                    <!--<div class="sidebar-card message-card">
                        <div class="card-title">
                            <h4>Contato</h4>
                        </div>

                        <div class="message-form">
                            <form action="#">
                                <div class="form-group">
                                    <textarea lass="text_field" placeholder="Mensagem..."></textarea>
                                </div>

                                <div class="msg_submit">
                                    <button type="submit" class="btn btn--md btn--round">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>-->
                    <!-- end /.freelance-status -->
                </aside>
            </div>
            <!-- end /.sidebar -->

            <div class="col-lg-8 col-md-12">
                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <div class="author_module about_author" *ngIf="_vendedor">
                            <h2>Sobre
                                <span>{{_vendedor.nome}}</span>
                            </h2>
                            <div [innerHtml]='_vendedor.html'></div>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.col-md-8 -->

        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
    END AUTHOR AREA
=================================-->

