<div class="input-group">
    <input type="text" #searchBox id="search-box" (input)="search(searchBox.value)" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" style='height: 38px;'>
    <div class="input-group-append">
      <button class="btn btn-primary" type="button">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
    <ul class="search-result" *ngIf="list.length>0">
      <li *ngFor="let hero of list" >
        <a >
          {{hero}}
        </a>
      </li>
    </ul>
  </div>
  