
    <!--================================
        START MENU AREA
    =================================-->
    <!-- start menu-area -->
    <div class="menu-area">
        <!-- start .top-menu-area -->
        <div class="top-menu-area">
            <!-- start .container -->
            <div class="container">
                <!-- start .row -->
                <div class="row">
                    <div class="col-12 v_middle text-center">
                        <div class="logo">
                            <a class="w-100" href="index.html">
                                <img src="./assets/images/logo.png" alt="logo image" class="img-fluid" style="width: 150px; margin: 20px 0;">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end  -->
    </div>
    <!-- end /.menu-area -->
    <!--================================
        END MENU AREA
    =================================-->
  
  
    <!--================================
        START SEARCH AREA
    =================================-->
    <section class="search-wrapper">
        <div class="search-area2 bgimage" style="padding: 40px 0;">
            <div class="container content_above">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="search">
                            <div class="search__field">
                                <form action="#">
                                    <div class="field-wrapper">
                                        <input class="relative-field rounded" type="text" placeholder="Código ou nome do vendedor">
                                        <button class="btn btn--round btn-search" type="submit" style="border-radius: 0 100px 100px 0;">Buscar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.search-area2 -->
    </section>
    <!--================================
        END SEARCH AREA
    =================================-->
  
  
    <!--================================
        START FILTER AREA
    =================================-->
    <div class="filter-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-bar">
                        <div class="filter__option filter--select">
                            <div class="select-wrap">
                                <select name="price">
                                    <option value="low">Preço : Menor para Maior</option>
                                    <option value="high">Preço : Maior para menor</option>
                                </select>
                                <span class="lnr lnr-chevron-down"></span>
                            </div>
                        </div>
                        <!-- end /.filter__option -->
  
                        <div class="filter__option filter--select">
                            <div class="select-wrap">
                                <select name="price">
                                    <option value="12">15 itens por página</option>
                                    <option value="15">30 itens por página</option>
                                    <option value="25">45 itens por página</option>
                                </select>
                                <span class="lnr lnr-chevron-down"></span>
                            </div>
                        </div>
                        <!-- end /.filter__option -->
                    </div>
                    <!-- end /.filter-bar -->
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end filter-bar -->
        </div>
    </div>
    <!-- end /.filter-area -->
    <!--================================
        END FILTER AREA
    =================================-->
  
  
    <!--================================
        START FEATURED PRODUCT AREA
  =================================-->
    <section class="featured-products bgcolor section--padding">
        <!-- start /.container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <!-- start col-md-12 -->
                <div class="col-md-12">
                    <div class="product-title-area ">
                        <div class="product__title">
                            <h2>Vendedores Premium</h2>
                        </div>
  
                        <div class="product__slider-nav rounded">
                            <span class="lnr lnr-chevron-left nav_left"></span>
                            <span class="lnr lnr-chevron-right nav_right"></span>
                        </div>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
  
        <!-- start .featured-product-slider -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-0 pl-3">
                    <div class="featured-product-slider prod-slider1">
                        <!-- start .card vendedor -->
                        <div class="col-12 p-0">
                            <!-- start .single-product -->
                            <div class="product product--card mr-3 mb-0 pb-3">
  
                                <div class="product__thumbnail">
                                    <img src="./assets/images/v1.jpg" alt="Imagem Vendedor">
                                    <div class="prod_btn">
                                        <a routerLink="/vendedor" class="transparent btn--sm btn--round">Selecionar</a>
                                    </div>
                                    <!-- end /.prod_btn -->
                                </div>
                                <!-- end /.product__thumbnail -->
  
                                <div class="product-desc">
                                    <a href="cadastro.html" class="product_title">
                                        <h4>André Constâncio Azevedo da Cunha Amaral</h4>
                                    </a>
  
                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue.oiu sduihsd fui iauhf asuifh aisufh asiufh asd</p>
                                </div>
                                <!-- end /.product-desc -->
                            </div>
                            <!-- end /.single-product -->
                        </div>
                        <!-- end /.card vendedor -->
                        
                        <!-- start .card vendedor -->
                        <div class="col-12 p-0">
                            <!-- start .single-product -->
                            <div class="product product--card mr-3 mb-0 pb-3">
  
                                <div class="product__thumbnail">
                                    <img src="./assets/images/v2.jpg" alt="Imagem Vendedor">
                                    <div class="prod_btn">
                                        <a href="cadastro.html" class="transparent btn--sm btn--round">Selecionar</a>
                                    </div>
                                    <!-- end /.prod_btn -->
                                </div>
                                <!-- end /.product__thumbnail -->
  
                                <div class="product-desc">
                                    <a href="cadastro.html" class="product_title">
                                        <h4>Cleide Aparecida da Silva</h4>
                                    </a>
  
                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue.oiu sduihsd fui iauhf asuifh aisufh asiufh asd</p>
                                </div>
                                <!-- end /.product-desc -->
                            </div>
                            <!-- end /.single-product -->
                        </div>
                        <!-- end /.card vendedor -->
                        
                        <!-- start .card vendedor -->
                        <div class="col-12 p-0">
                            <!-- start .single-product -->
                            <div class="product product--card mr-3 mb-0 pb-3">
  
                                <div class="product__thumbnail">
                                    <img src="./assets/images/v3.jpg" alt="Imagem Vendedor">
                                    <div class="prod_btn">
                                        <a href="cadastro.html" class="transparent btn--sm btn--round">Selecionar</a>
                                    </div>
                                    <!-- end /.prod_btn -->
                                </div>
                                <!-- end /.product__thumbnail -->
  
                                <div class="product-desc">
                                    <a href="cadastro.html" class="product_title">
                                        <h4>Ezequiel Dias Honório Sampaio</h4>
                                    </a>
  
                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue.oiu sduihsd fui iauhf asuifh aisufh asiufh asd</p>
                                </div>
                                <!-- end /.product-desc -->
                            </div>
                            <!-- end /.single-product -->
                        </div>
                        <!-- end /.card vendedor -->
                        
                        <!-- start .card vendedor -->
                        <div class="col-12 p-0">
                            <!-- start .single-product -->
                            <div class="product product--card mr-3 mb-0 pb-3">
  
                                <div class="product__thumbnail">
                                    <img src="./assets/images/v4.jpg" alt="Imagem Vendedor">
                                    <div class="prod_btn">
                                        <a href="cadastro.html" class="transparent btn--sm btn--round">Selecionar</a>
                                    </div>
                                    <!-- end /.prod_btn -->
                                </div>
                                <!-- end /.product__thumbnail -->
  
                                <div class="product-desc">
                                    <a href="cadastro.html" class="product_title">
                                        <h4>Roberto Rdrigues</h4>
                                    </a>
  
                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue.oiu sduihsd fui iauhf asuifh aisufh asiufh asd</p>
                                </div>
                                <!-- end /.product-desc -->
                            </div>
                            <!-- end /.single-product -->
                        </div>
                        <!-- end /.card vendedor -->
                        
                        <!-- start .card vendedor -->
                        <div class="col-12 p-0">
                            <!-- start .single-product -->
                            <div class="product product--card mr-3 mb-0 pb-3">
  
                                <div class="product__thumbnail">
                                    <img src="./assets/images/v5.jpg" alt="Imagem Vendedor">
                                    <div class="prod_btn">
                                        <a href="cadastro.html" class="transparent btn--sm btn--round">Selecionar</a>
                                    </div>
                                    <!-- end /.prod_btn -->
                                </div>
                                <!-- end /.product__thumbnail -->
  
                                <div class="product-desc">
                                    <a href="cadastro.html" class="product_title">
                                        <h4>Cristina Vilela</h4>
                                    </a>
  
                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue.oiu sduihsd fui iauhf asuifh aisufh asiufh asd</p>
                                </div>
                                <!-- end /.product-desc -->
                            </div>
                            <!-- end /.single-product -->
                        </div>
                        <!-- end /.card vendedor -->
                        
                        <!-- start .card vendedor -->
                        <div class="col-12 p-0">
                            <!-- start .single-product -->
                            <div class="product product--card mr-3 mb-0 pb-3">
  
                                <div class="product__thumbnail">
                                    <img src="./assets/images/v6.jpg" alt="Imagem Vendedor">
                                    <div class="prod_btn">
                                        <a href="cadastro.html" class="transparent btn--sm btn--round">Selecionar</a>
                                    </div>
                                    <!-- end /.prod_btn -->
                                </div>
                                <!-- end /.product__thumbnail -->
  
                                <div class="product-desc">
                                    <a href="cadastro.html" class="product_title">
                                        <h4>Robson Alves</h4>
                                    </a>
  
                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue.oiu sduihsd fui iauhf asuifh aisufh asiufh asd</p>
                                </div>
                                <!-- end /.product-desc -->
                            </div>
                            <!-- end /.single-product -->
                        </div>
                        <!-- end /.card vendedor -->
                        
                        <!-- start .card vendedor -->
                        <div class="col-12 p-0">
                            <!-- start .single-product -->
                            <div class="product product--card mr-3 mb-0 pb-3">
  
                                <div class="product__thumbnail">
                                    <img src="./assets/images/v7.jpg" alt="Imagem Vendedor">
                                    <div class="prod_btn">
                                        <a href="cadastro.html" class="transparent btn--sm btn--round">Selecionar</a>
                                    </div>
                                    <!-- end /.prod_btn -->
                                </div>
                                <!-- end /.product__thumbnail -->
  
                                <div class="product-desc">
                                    <a href="cadastro.html" class="product_title">
                                        <h4>Wagner Antônio</h4>
                                    </a>
  
                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue.oiu sduihsd fui iauhf asuifh aisufh asiufh asd</p>
                                </div>
                                <!-- end /.product-desc -->
                            </div>
                            <!-- end /.single-product -->
                        </div>
                        <!-- end /.card vendedor -->
                        
                        <!-- start .card vendedor -->
                        <div class="col-12 p-0">
                            <!-- start .single-product -->
                            <div class="product product--card mr-3 mb-0 pb-3">
  
                                <div class="product__thumbnail">
                                    <img src="./assets/images/v8.jpg" alt="Imagem Vendedor">
                                    <div class="prod_btn">
                                        <a href="cadastro.html" class="transparent btn--sm btn--round">Selecionar</a>
                                    </div>
                                    <!-- end /.prod_btn -->
                                </div>
                                <!-- end /.product__thumbnail -->
  
                                <div class="product-desc">
                                    <a href="cadastro.html" class="product_title">
                                        <h4>Simone Araújo</h4>
                                    </a>
  
                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue.oiu sduihsd fui iauhf asuifh aisufh asiufh asd</p>
                                </div>
                                <!-- end /.product-desc -->
                            </div>
                            <!-- end /.single-product -->
                        </div>
                        <!-- end /.card vendedor -->
                    </div>
                </div>
            </div>
            <!-- end /.featured__preview-img -->
        </div>
        <!-- end /.featured-product-slider -->
    </section>
    <!--================================
        END FEATURED PRODUCT AREA
  =================================-->
  
  
    <!--================================
        START PRODUCTS AREA
    =================================-->
    <section class="products section--padding pt-0">
        <!-- start container -->
        <div class="container">
  
            <!-- start .row -->
            <div class="row">
                <!-- start lista vendedor -->
                <div class="col-md-12">
                    <!-- start .single-product -->
                    <div class="product product--list mb-4" style="height: auto;">
                        <div class="product__details" style="padding: 0;">
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                            
                            <div class="product-desc" style="width: 100%; border-bottom: 1px solid #eee;">
                                <a href="cadastro.html" class="product_title" style="width: 100%; padding: 15px 0; margin-bottom: 0;">
                                    <h4>Nome Exemplo Vendedor Free</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end /.single-product -->
                </div>
                <!-- end /lista vendedor -->
            </div>
            <!-- end /.row -->
  
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination-area">
                        <nav class="navigation pagination" role="navigation">
                            <div class="nav-links">
                                <a class="prev page-numbers" href="#">
                                    <span class="lnr lnr-arrow-left"></span>
                                </a>
                                <a class="page-numbers current" href="#">1</a>
                                <a class="page-numbers" href="#">2</a>
                                <a class="page-numbers" href="#">3</a>
                                <a class="next page-numbers" href="#">
                                    <span class="lnr lnr-arrow-right"></span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END PRODUCTS AREA
    =================================-->
  <app-footer></app-footer>
  