
  <app-breadcumb title="Exemplo Produto" ></app-breadcumb>

  <!--============================================
      START SINGLE PRODUCT DESCRIPTION AREA
  ==============================================-->
  <section class="single-product-desc single-product-desc2">
      <div class="container" *ngIf="_product">
          <div class="row">
              <div class="col-lg-8">
                  <div class="item-preview item-preview2 mb-4 mb-lg-0">
                      <div class="prev-slide" >
                          
                          <img *ngIf="_product.ImagemProduto" [src]="sanitizePicture(_product.ImagemProduto)" alt="{{_product.Descricao}}" width="100%" >
                          <img *ngIf="!_product.ImagemProduto" src="../../../assets/images/p2.jpg" alt="{{_product.Descricao}}"width="100%"  >

                      </div>

                      <div class="item__preview-thumb">
                          <div class="item-action">
                              <div class="action-btns">
                                  <a href="#" class="btn btn--round btn--lg btn--icon">
                                      <span class="lnr lnr-heart"></span> Favoritos</a>
                              </div>
                          </div>
                          <!-- end /.item__action -->
                      </div>
                      <!-- end /.item__preview-thumb-->

                      <div class="tab tab2">
                          <div class="item-navigation">
                              <ul class="nav nav-tabs nav--tabs2">
                                  <li>
                                      <a href="#product-details" class="active" aria-controls="product-details" role="tab" data-toggle="tab">Detalhes</a>
                                  </li>
                                  <li>
                                      <a href="#product-support" aria-controls="product-support" role="tab" data-toggle="tab">Suporte </a>
                                  </li>
                              </ul>
                          </div>
                          <!-- end /.item-navigation -->

                          <div class="tab-content">
                              <div class="tab-pane product-tab fade show active" id="product-details">
                                  <h1>{{_product.IdProdutoServico}} - {{_product.Descricao}}</h1>
                                  <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the
                                      mattis, leo quam aliquet congue placerat mi id nisi interdum mollis. Praesent pharetra,
                                      justo ut scel erisque the mattis, leo quam aliquet congue justo ut scelerisque. Praesent
                                      pharetra, justo ut scelerisque the mattis, leo quam aliquet congue justo ut scelerisque.</p>
                              </div>
                              <!-- end /.tab-content -->

                              <div class="tab-pane fade product-tab" id="product-support">
                                  <div class="support">
                                      <div class="support__title pt-0">
                                          <h3>Fale com o <a href="vendedor.html">Vendedor</a></h3>
                                      </div>
                                      <div class="support__form">
                                          <div class="usr-msg">
                                              <form action="#" class="support_form">
                                                  <div class="form-group">
                                                      <label for="supmsg">Mensagem: </label>
                                                      <textarea class="text_field" placeholder="Dúvidas sobre o produto..."></textarea>
                                                  </div>
                                                  <button type="submit" class="btn btn--lg btn--round">Enviar</button>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- end /.product-support -->
                          </div>
                          <!-- end /.tab-content -->
                      </div>
                      <!-- end /.item-info -->
                  </div>
                  <!-- end /.item-preview-->
              </div>
              <!-- end /.col-md-8 -->

              <div class="col-lg-4">
                  <aside class="sidebar sidebar--single-product">
                      <div class="sidebar-card card-pricing">
                          <div class="price">
                              <h1>
                                  <sup>R$</sup>
                                  <span>{{(_product.PrecoVenda | currencyformat:'BRL':true).replace("R$","")}}</span>
                              </h1>
                          </div>
                          <div class="purchase-button">
                              <a href="#" class="btn btn--lg btn--round cart-btn">
                                  <span class="lnr lnr-cart mr-2"></span> COMPRAR</a>
                          </div>
                          <!-- end /.purchase-button -->
                      </div>
                      <!-- end /.sidebar--card -->
                    
                      <div class="sidebar-card card-pricing card--pricing2">
                          <div class="price">
                              <h1>
                                  <sup>R$</sup>
                                  <span>{{(_product.PrecoVenda | currencyformat:'BRL':true).replace("R$","")}}</span>
                              </h1>
                          </div>
                          <ul class="pricing-options">
                              <li>
                                  <div class="custom-radio">
                                      <input type="radio" id="opt1" class="" name="filter_opt" checked>
                                      <label for="opt1" data-price="100">
                                          <span class="circle"></span>Opção 1</label>
                                  </div>

                                  <p>Nunc placerat mi id nisi interdum is mollis. Praesent pharetra, justo.</p>
                              </li>

                              <li>
                                  <div class="custom-radio">
                                      <input type="radio" id="opt2" class="" name="filter_opt">
                                      <label for="opt2" data-price="200">
                                          <span class="circle"></span>Opção 2</label>
                                  </div>

                                  <p>Nunc placerat mi id nisi interdum is mollis. Praesent pharetra, justo.</p>
                              </li>
                          </ul>
                          <!-- end /.pricing-options -->

                          <div class="purchase-button">
                              <a href="#" class="btn btn--lg btn--round cart-btn">
                                  <span class="lnr lnr-cart mr-2"></span> COMPRAR</a>
                          </div>
                          <!-- end /.purchase-button -->
                      </div>
                      <!-- end /.sidebar--card -->

                      <div class="sidebar-card card--metadata mb-0">
                          <ul class="data">
                              <li>
                                  <p>
                                      <span class="lnr lnr-cart pcolor"></span>Total Vendido</p>
                                  <span>426</span>
                              </li>
                              <li>
                                  <p>
                                      <span class="lnr lnr-heart pcolor"></span>Favoritos</p>
                                  <span>240</span>
                              </li>
                              <li>
                                  <p>
                                      <span class="lnr lnr-eye pcolor"></span>Visualizações</p>
                                  <span>6,589</span>
                              </li>
                          </ul>
                      </div>
                      <!-- end /.sidebar-card -->
                  </aside>
                  <!-- end /.aside -->
              </div>
              <!-- end /.col-md-4 -->
          </div>
          <!-- end /.row -->
      </div>
      <!-- end /.container -->
  </section>
  <!--===========================================
      END SINGLE PRODUCT DESCRIPTION AREA
  ===============================================-->


  <!--============================================
      START MORE PRODUCT AREA
  ==============================================-->
  <section class="more_product_area section--padding pt-3 pb-2">
      <div class="container">
          <div class="row pl-3">
              <!-- start col-md-12 -->
              <div class="col-md-12 p-0 pr-3">
                  <div class="section-title pb-3">
                      <h1>Produtos
                          <span class="highlighted">Relacionados</span>
                      </h1>
                  </div>
              </div>
              <!-- end /.col-md-12 -->

              <!-- start .col-md-3 -->
              <div class="col-lg-3 col-md-4 col-6 p-0 pr-3">
                  <!-- start .single-product -->
                  <div class="product product--card mb-4">
                      <div class="product__thumbnail">
                          <img src="../../../assets/images/p1.jpg" alt="Product Image">
                          <div class="prod_btn">
                              <a routerLink="/produto/1" class="transparent btn--sm btn--round">Visualizar</a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.product__thumbnail -->

                      <div class="product-desc">
                          <a routerLink="/produto/1" class="product_title">
                              <h4>Jogo 6 Copos Square para Água</h4>
                          </a>
                      </div>
                      <!-- end /.product-desc -->

                      <div class="product-purchase m-0 p-3">
                          <div class="price_love d-block d-lg-inline-block">
                              <span class="d-block d-lg-inline-block text-center m-0 mr-lg-2">R$ 1798,50</span>
                              <p>
                          </div>
                          <a href="#" class="btn btn-custom btn--round d-block pull-none d-lg-inline-block pull-lg-right text-white sell mt-3 mt-lg-0">COMPRAR</a>
                      </div>
                      <!-- end /.product-purchase -->
                  </div>
                  <!-- end /.single-product -->
              </div>
              <!-- end /.col-md-3 -->
            
              <!-- start .col-md-3 -->
              <div class="col-lg-3 col-md-4 col-6 p-0 pr-3">
                  <!-- start .single-product -->
                  <div class="product product--card mb-4">
                      <div class="product__thumbnail">
                          <img src="../../../assets/images/p2.jpg" alt="Product Image">
                          <div class="prod_btn">
                              <a routerLink="/produto/1" class="transparent btn--sm btn--round">Visualizar</a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.product__thumbnail -->

                      <div class="product-desc">
                          <a routerLink="/produto/1" class="product_title">
                              <h4>Filtro De Barro Para Água - 8l</h4>
                          </a>
                      </div>
                      <!-- end /.product-desc -->

                      <div class="product-purchase m-0 p-3">
                          <div class="price_love d-block d-lg-inline-block">
                              <span class="d-block d-lg-inline-block text-center m-0 mr-lg-2">R$ 1798,50</span>
                              <p>
                          </div>
                          <a href="#" class="btn btn-custom btn--round d-block pull-none d-lg-inline-block pull-lg-right text-white sell mt-3 mt-lg-0">COMPRAR</a>
                      </div>
                      <!-- end /.product-purchase -->
                  </div>
                  <!-- end /.single-product -->
              </div>
              <!-- end /.col-md-3 -->
            
              <!-- start .col-md-3 -->
              <div class="col-lg-3 col-md-4 col-6 p-0 pr-3">
                  <!-- start .single-product -->
                  <div class="product product--card mb-4">
                      <div class="product__thumbnail">
                          <img src="../../../assets/images/p3.jpg" alt="Product Image">
                          <div class="prod_btn">
                              <a routerLink="/produto/1" class="transparent btn--sm btn--round">Visualizar</a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.product__thumbnail -->

                      <div class="product-desc">
                          <a routerLink="/produto/1" class="product_title">
                              <h4>Conjunto p/ Fondue - Vermelho/11pç</h4>
                          </a>
                      </div>
                      <!-- end /.product-desc -->

                      <div class="product-purchase m-0 p-3">
                          <div class="price_love d-block d-lg-inline-block">
                              <span class="d-block d-lg-inline-block text-center m-0 mr-lg-2">R$ 1798,50</span>
                              <p>
                          </div>
                          <a href="#" class="btn btn-custom btn--round d-block pull-none d-lg-inline-block pull-lg-right text-white sell mt-3 mt-lg-0">COMPRAR</a>
                      </div>
                      <!-- end /.product-purchase -->
                  </div>
                  <!-- end /.single-product -->
              </div>
              <!-- end /.col-md-3 -->
            
              <!-- start .col-md-3 -->
              <div class="col-lg-3 col-md-4 col-6 p-0 pr-3">
                  <!-- start .single-product -->
                  <div class="product product--card mb-4">
                      <div class="product__thumbnail">
                          <img src="../../../assets/images/p4.jpg" alt="Product Image">
                          <div class="prod_btn">
                              <a routerLink="/produto/1" class="transparent btn--sm btn--round">Visualizar</a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.product__thumbnail -->

                      <div class="product-desc">
                          <a routerLink="/produto/1" class="product_title">
                              <h4>Conjunto Panelas Antiaderentes - Cereja/7pç</h4>
                          </a>
                      </div>
                      <!-- end /.product-desc -->

                      <div class="product-purchase m-0 p-3">
                          <div class="price_love d-block d-lg-inline-block">
                              <span class="d-block d-lg-inline-block text-center m-0 mr-lg-2">R$ 1798,50</span>
                              <p>
                          </div>
                          <a href="#" class="btn btn-custom btn--round d-block pull-none d-lg-inline-block pull-lg-right text-white sell mt-3 mt-lg-0">COMPRAR</a>
                      </div>
                      <!-- end /.product-purchase -->
                  </div>
                  <!-- end /.single-product -->
              </div>
              <!-- end /.col-md-3 -->

          </div>
          <!-- end /.container -->
      </div>
      <!-- end /.container -->
  </section>
  <!--============================================
      END MORE PRODUCT AREA
  ==============================================-->

